<div class="input-container">
  <input #start placeholder="Start Point" />
  <input #end placeholder="End Point" />
  <button (click)="addTrip(start.value, end.value)">Add Trip</button>
</div>
<div class="trip-container">
  <div *ngFor="let trip of trips" class="trip" [ngClass]="{
      'level-1': trip.level === 1,
      'level-2': trip.level === 2,
      'arrow': trip.arrow
    }">
      <div class="line" [ngClass]="{
        'with-arrow': trip.arrow,
        'green': !trip.arrow,
        'red': trip.arrow
      }"></div>
      <div class="trip-label">{{ trip.start.slice(0, 3).toUpperCase() }} - {{ trip.end.slice(0, 3).toUpperCase() }}
      </div>
  </div>
</div>